:root {
  --bg-dark: #f4f5fb;
  --bg-surface: #ffffff;
  --bg-hover: #eef0fb;
  --border: #e0e2f0;
  --border-subtle: #ececf6;

  --accent: #6c63ff;
  --accent-soft: rgba(108, 99, 255, .15);
  --accent-2: #a78bfa;

  --text-primary: #1a1b2e;
  --text-secondary: #4f5272;
  --text-muted: #9497b8;

  --bg: var(--bg-dark);
  --surface: var(--bg-surface);
  --card: #ffffff;
  --bg-card: #f8f9ff;
  --bg-active: #e9ebf8;

  --text: var(--text-primary);
  --muted: var(--text-muted);
  --hover: var(--bg-hover);

  --accent-glow: rgba(108, 99, 255, 0.35);
  --yellow: #fbbf24;
  --green: #22d3a0;
  --red: #f87171;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 18px;
  --radius-xl: 24px;
  --radius-full: 9999px;

  --font: 'Inter', system-ui, sans-serif;


            --bg-primary: #f9fafb;
            --sidebar-text: #4b5563;
            --sidebar-active-bg: #eff6ff;
            --sidebar-active-text: #4f46e5;
            --text-main: #1f2937;
            --text-light: #9ca3af;
            --border-color: #e5e7eb;
            --accent-purple: #4f46e5;
            --accent-hover: #4338ca;
            --card-bg: #ffffff;
            --tip-bg: #f5f3ff;
            --tip-text: #4f46e5;


            /* for Meetings Page   */

             --bg-dark: #f4f5fb;
  --bg-surface: #ffffff;
  --bg-hover: #eef0fb;
  --border: #e0e2f0;
  --border-subtle: #ececf6;

  --accent: #6c63ff;
  --accent-soft: rgba(108, 99, 255, .15);
  --accent-2: #a78bfa;

  --text-primary: #1a1b2e;
  --text-secondary: #4f5272;
  --text-muted: #9497b8;

  --bg: var(--bg-dark);
  --surface: var(--bg-surface);
  --card: #ffffff;
  --bg-card: #f8f9ff;
  --bg-active: #e9ebf8;

  --text: var(--text-primary);
  --muted: var(--text-muted);
  --hover: var(--bg-hover);

  --accent-glow: rgba(108, 99, 255, 0.35);
  --yellow: #fbbf24;
  --green: #22d3a0;
  --red: #f87171;

  --radius-sm: 6px;
  --radius-md: 10px;
  --radius-lg: 18px;
  --radius-xl: 24px;
  --radius-full: 9999px;

  --font: 'Inter', system-ui, sans-serif;

  --bg-primary: #f9fafb;
  --sidebar-text: #4b5563;
  --sidebar-active-bg: #eff6ff;
  --sidebar-active-text: #4f46e5;
  --text-main: #1f2937;
  --text-light: #9ca3af;
  --border-color: #e5e7eb;
  --accent-purple: #4f46e5;
  --accent-hover: #4338ca;
  --card-bg: #ffffff;
  --tip-bg: #f5f3ff;
  --tip-text: #4f46e5;
        
}

html, body {
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Inter', system-ui, sans-serif;
  background: var(--bg-dark);
  color: var(--text-primary);
  font-size: 13px;
  line-height: 1.5;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
}

button {
  border: none;
  background: transparent;
  padding: 0;
  margin: 0;
  outline: none;
  appearance: none;
  -webkit-appearance: none;
  cursor: pointer;
  color: inherit;
  font-family: inherit;
}

input {
  font-family: inherit;
}